@charset "utf-8";
body {
    font-family: verdana, Arial, Helvetica, "微软雅黑", sans-serif;
    font-size: 1em;
}

body,
div,
dl,
dt,
dd,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
P,
blockquote,
th,
td,
img,
INS {
    margin: 0px;
    padding: 0px;
    border: 0;
}

ol {
    list-style-type: none;
}

img,
input {
    border: none;
}

a {
    color: #198DD0;
    text-decoration: none;
}

a:hover {
    color: #ba2636;
    text-decoration: underline;
}

a {
    blr: expression(this.onFocus=this.blur())
}


/*去掉a标签的虚线框，避免出现奇怪的选中区域*/

:focus {
    outline: 0;
}


/*讨论留言添加表情*/

.add_face {
    background-image: url(../images/add_emoticons.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-color: transparent;
}


/*视频聊天区*/

.talk {
    height: 480px;
    width: 335px;
    margin: 0 auto;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #444;
}

.talk_title {
    width: 100%;
    height: 40px;
    line-height: 235%;
    text-indent: 12px;
    font-size: 1.7em;
    color: #bbb;
    background: #666;
    border-radius: 5px 5px 0px 0px;
}

.talk_title span {
    float: left
}

.talk_title_c {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.talk_record {
    width: 100%;
    height: 398px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.65);
    border-left: 5px solid #666;
    border-right: 5px solid #666;
}

.talk_word {
    height: 50px;
    width: 100%;
    background: #666;
    border-radius: 0px 0px 5px 5px;
}

.talk_word .icon {
    font-size: 2.55em;
    position: relative;
    top: 8px;
    margin: 3px 0px 3px 10px;
}

.messages {
    height: 30px;
    width: 85%;
    margin: 10px 0px 10px 10px;
    padding: 0px 10px;
    font-size: 1.3em;
    color: #666;
    background: #eee;
    border-radius: 2px 0px 0px 2px;
}

.messages:hover {
    background-color: #fff;
}

.talk_send {
    height: 1.28em;
    width: 1.3em !important;
    font-size: 2.39em;
    line-height: 1em;
    margin-left: 0px;
    left: -5px;
    top: 6px;
    padding: 2px 5px;
    background: #ccc;
    color: #888;
    border-radius: 0px 2px 2px 0px;
    cursor: pointer;
}

.talk_send:hover {
    background-position: 0px -24px;
}

.talk_record ul {
    padding-left: 5px;
}

.talk_record li {
    line-height: 25px;
}

.talk_word .controlbtn a {
    margin: 12px;
}

.talk .talk_word .order {
    float: left;
    display: block;
    height: 14px;
    width: 16px;
    background-image: url(../images/loop.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.talk .talk_word .loop {
    float: left;
    display: block;
    height: 14px;
    width: 16px;
    background-image: url(../images/loop.png);
    background-repeat: no-repeat;
    background-position: -30px 0px;
}

.talk .talk_word .single {
    float: left;
    display: block;
    height: 14px;
    width: 16px;
    background-image: url(../images/loop.png);
    background-repeat: no-repeat;
    background-position: -60px 0px;
}

.talk .talk_word .order:hover,
.talk .talk_word .active {
    background-position: 0px -20px;
    text-decoration: none;
}

.talk .talk_word .loop:hover {
    background-position: -30px -20px;
    text-decoration: none;
}

.talk .talk_word .single:hover {
    background-position: -60px -20px;
    text-decoration: none;
}


/* * CSS Styles that are needed by jScrollPane for it to operate correctly. * * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane * may not operate correctly without them. */

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: transparent;
}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
}

.jspVerticalBar *,
.jspHorizontalBar * {
    margin: 0;
    padding: 0;
}

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    position: relative;
    background-color: transparent;
}

.jspDrag {
    background: #ccc;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled {
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow {
    height: 8px;
}

.jspHorizontalBar .jspArrow {
    width: 8px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus {
    outline: none;
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}


/* Yuk! CSS Hack for IE6 3 pixel bug :( */

* html .jspCorner {
    margin: 0 -3px 0 0;
}

.jp-container {
    width: 860px;
    height: 400px;
    position: relative;
    background-color: transparent;
    float: left;
}


/*讨论区*/

.jp-container .talk_recordbox {
    margin: 15px 0px;
    min-height: 50px;
    height: auto;
    color: #afafaf;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 0px;
}

.jp-container .talk_recordbox:first-child {
    border-top: none;
}

.jp-container .talk_recordbox:last-child {
    border-bottom: none;
}

.jp-container .talk_recordbox .talk_recordtextbg {
    float: left;
    width: 10px;
    height: 30px;
    display: block;
    background-image: url(../images/talk_recordtext.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.jp-container .talk_recordbox .talk_recordtext {
    border-radius: 5px;
    background-color: #eee;
    width: 50%;
    min-width: 200px;
    height: auto;
    display: block;
    padding: 5px;
    float: left;
    color: #333333;
}

.jp-container .talk_recordbox h3 {
    font-size: 1.4em;
    padding: 2px 0 8px 0;
    text-transform: uppercase;
    font-weight: normal;
    color: #444;
}

.jp-container .talk_recordbox .user {
    float: left;
    display: inline;
    height: 45px;
    width: 45px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.jp-container .talk_recordbox .user img {
    border-radius: 50%;
}


/*自己发言样式*/

.jp-container .talk_recordboxme {
    display: block;
    min-height: 50px;
    color: #b3d1ef;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin: 15px 0px;
}

.jp-container .talk_recordboxme .talk_recordtextbg {
    float: right;
    width: 10px;
    height: 30px;
    display: block;
    background-image: url(../images/talk_recordtextme.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.jp-container .talk_recordboxme .talk_recordtext {
    border-radius: 5px;
    background-color: rgba(181, 217, 253, 0.9);
    min-width: 200px;
    width: 50%;
    height: auto;
    padding: 5px;
    color: #777;
    font-size: 1.1em;
    float: right;
}

.jp-container .talk_recordboxme h3 {
    font-size: 1.3em;
    padding: 5px 0;
    /*    text-transform: uppercase;*/
    font-weight: normal;
    color: #333;
}

.jp-container .talk_recordboxme .user {
    float: right;
    height: 45px;
    width: 45px;
    margin-top: 3px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    display: inline;
}

.jp-container .talk_recordboxme .user img {
    border-radius: 50%;
}

.talk_time {
    color: #777;
    text-align: right;
    width: 98%;
    display: block;
}