/* ------------ For Tablet Layout: 1024px. ----------- */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* --------- For Tablet Layout: 768px. ---------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* ----- For Mobile Layout: 320px. ------- */

@media only screen and (max-width: 767px) {
    .navbar ul>li {
        height: 30px;
    }
    .navbar .navbar-right {
        position: relative;
        right: -10px;
    }
    .navbar .navbar-brand img {
        margin-top: 5px;
        position: relative;
        left: 20%;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}